@keyframes backgroundSlide {
    0% {
        background:white;
    }
    100% {
        background:#181818;
    }
}
body{
    overflow-x: hidden;
    font-family: 'Encode Sans', sans-serif;
}
p {
    text-align: justify;
}
.hideOnMobile {
    display:none;
}
.centerOnMobile {
    text-align:center
}
.titulo, .titulo h2{
    color:white !important;
    text-align: center;
}
.titulo img{
    height:100px;
    margin:5px 40px 0px 40px;
    border-radius: 50%;
}
.apresentacao{
    background-image: url('../img/rectangle.png');
    background-repeat: no-repeat;
    min-height: 800px;
}
.h-img-col{
    text-align: center;
}
.h-img-col img{
    margin-top:15%;
    transition: all 2s;
}
#title-box{
    margin-top:15%;
    max-width: 100%;
}

@media only screen and (min-width: 768px){
    .apresentacao{
        min-height: 540px;
    }
    .h-img-col img{
        margin-top:25%;
    }
    .hideOnMobile {
        display:inline;
    }
    .showOnMobile {
        display:none;
    }
    .centerOnMobile {
        text-align:left
    }
}
#xp, #academico, #conhecimento {
    overflow: scroll;
}
::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    width:0;
} 
h2{
    color:#181818;
}
span{
    font-weight: bolder;
    color:#fff;
}
.tabs li a{
    color:black !important;
}
/*Personalização cor de tabs do materialize*/
/* .apresentacao{
    background:#181818;
    padding-bottom: 10px;
    animation:4s ease-out 0s 1 backgroundSlide;
} */
.tabs .tab a {
      color: #181818;
}
.tabs .tab a .active {
    color: #181818 !important;
}
.tabs .tab a:hover {
    color: #181818 !important;
}
.tabs .tab a:focus {
    background-color: rgba(#181818, 0.1) !important;
}
.tabs .tab a .active{
    background-color: rgba(#181818, 0.1) !important;
}
.indicator {
    background-color: #181818 !important;
}
.card-title {
    color:#181818;
    font-size: 16px;
}
.card-content p {
    text-align:justify;
    font-size: 16px;
}
.oldJobs span,
.oldJobs p {
    color:rgb(134, 134, 134);
}
.dados {
    margin-top:10%;
    color:rgb(172, 172, 172);
}
.dados p,
#rodape p{
    text-align:center;
}
.dados div p a {
    margin:0 2%;
    color:#000000;
}
#rodaperow{
    margin:0
}
#rodape {
    background-color:#181818;
    color:white;
    padding-top:50px;
}
#xp p{
    font-size: 12px;
}
.projeto{
    text-align: center;
    margin-bottom: 40px;
    height: 580px;
}
.projeto a{
    font-weight: bolder;
    font-size: 20px;
}
.projetoimg{
    width: 100%;
    height: 200px;
    object-fit:contain;
    margin:10px 0;
}
.chipwrap{
    padding-left: 3%;
}
.info {
    padding-top: 30px !important;
}
.info h4 {
    margin-bottom: 50px;
}